{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",

    "BC_TENANT_ID": "TU_TENANT_ID",
    "BC_CLIENT_ID": "TU_CLIENT_ID",
    "BC_CLIENT_SECRET": "TU_CLIENT_SECRET",
    "BC_ENVIRONMENT": "Production",
    "BC_COMPANY_ID": "GUID_O_NOMBRE_DE_LA_EMPRESA",

    "BC_ITEMS_ENTITY_URL": "https://api.businesscentral.dynamics.com/v2.0/{BC_TENANT_ID}/{BC_ENVIRONMENT}/ODataV4/Company('{BC_COMPANY_ID}')/Items",
    "BC_MANUFACTURERS_ENTITY_URL": "https://api.businesscentral.dynamics.com/v2.0/{BC_TENANT_ID}/{BC_ENVIRONMENT}/ODataV4/Company('{BC_COMPANY_ID}')/Manufacturers",
    "BC_ITEM_CATEGORIES_ENTITY_URL": "https://api.businesscentral.dynamics.com/v2.0/{BC_TENANT_ID}/{BC_ENVIRONMENT}/ODataV4/Company('{BC_COMPANY_ID}')/ItemCategories",

    "ALLOWED_ORIGIN": "https://tecmelec.github.io",

    "AZURE_STORAGE_CONNECTION_STRING": "TU_CONNECTION_STRING_DE_STORAGE_ACCOUNT"
  },
  "Host": {
    "CORS": "*"
  }
}
